name: Build and Deploy
on:
  push:
    branches:
      main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Setup Graphviz
        run: sudo apt-get update && sudo apt-get install -y graphviz

      - name: Build
        run: make clean dist

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: gh-pages
          folder: dist